---
import Layout from "../layouts/BaseLayout.astro";
import ImageGrid from "../components/ImageGrid.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import "../styles/home.css";

const {
  title = "Astro Sky",
  description = "Welcome to Astro Sky. An elegant and streamlined Astro theme, built for artists, designers.",
  projects = await getCollection("projects"),
  posts = await getCollection("blog"),
} = Astro.props;

import featuredImage from "../assets/placeholder-square.webp";

// Sort posts by updateDate if available, otherwise by pubDate
const sortedProjects = projects
  .sort((a, b) => {
    const dateA = a.data.updatedDate || a.data.pubDate;
    const dateB = b.data.updatedDate || b.data.pubDate;
    return new Date(dateB) - new Date(dateA);
  })
  .slice(0, 6); // limit to 6

const sortedPosts = posts
  .sort((a, b) => {
    const dateA = a.data.updatedDate || a.data.pubDate;
    const dateB = b.data.updatedDate || b.data.pubDate;
    return new Date(dateB) - new Date(dateA);
  })
  .slice(0, 3); // limit to 3
---

<Layout title={title} description={description} featuredImage={featuredImage}>
  <main class="full-width-content">
    <h1 class="sr-only">{title}</h1>
    <p class="intro-text">{description}</p>
    <section>
      <h2>Latest Projects:</h2>
      <ImageGrid posts={sortedProjects} />
      <p><a href="./projects" class="section-link">View All Projects</a></p>
    </section>

    <section>
      <h2>Latest Posts:</h2>
      <div class="blog-list">
        {
          sortedPosts.map((post) => (
            <article>
              <a href={`/blog/${post.slug}/`}>
                <h3 class="title">{post.data.title}</h3>
                <p class="date">
                  <FormattedDate date={post.data.pubDate} />
                </p>
                <p class="description">{post.data.description}</p>
              </a>
            </article>
          ))
        }
      </div>
      <p><a href="./blog" class="section-link">View All Posts</a></p>
    </section>
  </main>
</Layout>
