---
import { Image } from "astro:assets";
const { path, alt, link } = Astro.props;
---

{
  link ? (
    <a href={link}>
      <Image
        src={path}
        alt={alt}
        widths={[560, 980, 1200]}
        sizes={`(min-width: 1420px) 1200px, calc(84.55vw + 16px)`}
      />
    </a>
  ) : (
    <Image
      src={path}
      alt={alt}
      widths={[560, 980, 1200]}
      sizes={`(min-width: 1420px) 1200px, calc(84.55vw + 16px)`}
    />
  )
}
