---
import Layout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import ImageGrid from "@components/ImageGrid.astro";

const {
  title = "Projects",
  description = "Projects description.",
  posts = await getCollection("projects"),
} = Astro.props;

import featuredImage from "../../assets/placeholder-square.webp";

// Sort posts by updateDate if available, otherwise by pubDate
const sortedProjects = posts.sort((a, b) => {
  const dateA = a.data.updatedDate || a.data.pubDate;
  const dateB = b.data.updatedDate || b.data.pubDate;
  return new Date(dateB) - new Date(dateA);
});
---

<Layout title={title} description={description} featuredImage={featuredImage}>
  <main class="full-width-content">
    <h1>{title}</h1>
    <ImageGrid posts={sortedProjects} />
  </main>
</Layout>
<style>
  h1 {
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    text-align: center;
    margin: 2em 0;
  }
</style>
