---
import Layout from "../layouts/BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";
const { title, description, pubDate, featuredImage } = Astro.props;
---

<Layout title={title} description={description} featuredImage={featuredImage}>
  <main class="wider-content-width">
    <article>
      <header>
        <h1>{title}</h1>
        <time><FormattedDate date={pubDate} /></time>
      </header>
      <slot />
    </article>
  </main>
</Layout>
